.MuiDataGrid-root {
  margin-left: 250px;
  margin-right: 20px;
  height: calc(107vh - 50px - 60px);
}

.MuiDataGrid-colCellWrapper {
  border-right: 1px solid rgba(224, 224, 224, 1);
}

.MuiDataGrid-row {
  cursor: pointer;
}

.MuiDataGrid-cell {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MuiDataGrid-columnHeaderTitle {
  font-weight: bold;
  font-size: 16px;
}

.MuiDataGrid-footer {
  position: sticky;
  bottom: 0;
  background-color: white;
  z-index: 1;
  border-top: 1px solid rgba(224, 224, 224, 1);
}

.MuiDataGrid-pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

.MuiDataGrid-paginationContainer {
  display: flex;
  align-items: center;
}

.MuiDataGrid-selectedRowCount {
  margin-right: 20px;
}

.MuiDataGrid-paginationSeparator {
  margin-left: 10px;
  margin-right: 10px;
}

.MuiDataGrid-page {
  padding: 5px;
  cursor: pointer;
  border: 1px solid rgba(224, 224, 224, 1);
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiDataGrid-noResults {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 53px);
}

.custom-header {
  background-color: #66ca98;
  color: white;
}
.buttongrid {
  background-color: black;
}
