body {
    /* fallback for old browsers */
    background: #a1c4fd;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1))
  }
  
  .bg-indigo {
    background-color: #4835d4;
  }
  
  @media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  }
  
  @media (min-width: 759px) {
    .card-registration-2 .bg-indigo {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  @media (max-width: 758px) {
    .card-registration-2 .bg-indigo {
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }
  }
  
  @media (min-width: 759px) {
    .card-registration-2 .bg-white {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
    }
  }
  
  @media (max-width: 758px) {
    .card-registration-2 .bg-white {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
    }
  }